<?xml version="1.0" encoding="UTF-8"?>
<!--
 Fabric3
 Copyright (c) 2009 Metaform Systems

 Fabric3 integration tests are licensed under the Apache 2.0 license.
-->

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Fabric3 Webapp Smoketest</display-name>

    <listener>
        <listener-class>org.fabric3.runtime.webapp.Fabric3ContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.fabric3.runtime.webapp.Fabric3RequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.fabric3.runtime.webapp.Fabric3SessionListener</listener-class>
    </listener>

    <context-param>
        <param-name>fabric3.composite</param-name>
        <param-value>WebappSmoketestComposite</param-value>
    </context-param>

    <context-param>
        <param-name>fabric3.compositeNamespace</param-name>
        <param-value>urn:fabric3.org</param-value>
    </context-param>

    <context-param>
        <param-name>fabric3.component</param-name>
        <param-value>smoketest</param-value>
    </context-param>

    <servlet>
        <servlet-name>Fabric3Servlet</servlet-name>
        <servlet-class>org.fabric3.runtime.webapp.Fabric3Servlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>org.fabric3.runtime.webapp.smoketest.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/smoketest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Fabric3Servlet</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>

</web-app>
